.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0px 1px 3px -2px black;
  width: 100%;
  background: linear-gradient(90deg, whitesmoke, transparent);
  flex-wrap: nowrap;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  color: red;
  font-size: 30px;
  font-weight: 600;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  flex-wrap: nowrap;
}

.nav-menu li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 25px;
}

.nav-login-cart button {
  width: 130px;
  height: 51px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  margin: 15px;
  margin-left: 80px;
}

.nav--login-cart-button:active {
  background-color: #f3f3f3;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: red;
}

.nav-cart-count {
  display: flex;
  align-items: center;
  height: 22px;
  width: 22px;
  justify-content: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;

}

.nav-user {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
