.slick-list{
  border-radius: 50px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #333;
}

.hero {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero1 {
  width: 1216px;
  margin: auto;
  height: 490px; 
  background-image: url('/img/hero4.jpg');
}

.hero2 {
  width: 500px;
  margin: auto;
  height: 490px;
  background-image: url('/img/hero5.jpg');
}

.hero3 {
  width: 500px;
  height: 490px;
  margin: auto;
  background-image: url('/img/hero7.jpg');
}

.hero4 {
  width: 500px;
  height: 490px;
  margin: auto;
  background-image: url('/img/hero8.jpg');
}

.hero1 h2 {
  position: relative;
  left: 233px;
  top: 145px;
  font-size: medium;
}

.hero2 h2 {
  position: relative;
  right: 210px;
  top: 130px;
  font-size: medium;
  color: white;
}

.hero3 h2 {
  position: relative;
  right: 210px;
  top: 130px;
  font-size: medium;
  color: black
}

.hero4 h2 {
  position: relative;
  right: 210px;
  top: 130px;
  font-size: medium;
  color: white;
}

#new1 {
  position: relative;
  right: 233px;
  top: 170px;
  bottom: 240px;
  text-align: right;
  font-size: xx-large;
  font-weight: 600;
}

#new2 {
  position: relative;
  left: 255px;
  top: 155px;
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
  color: white;
}

#new3 {
  position: relative;
  left: 255px;
  top: 155px;
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
  color: black;

}

#new4 {
  position: relative;
  left: 255px;
  top: 155px;
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
  color: white;
}

.heroine {
  border: 3px solid whitesmoke;
  background-color: #f9f9f9;
}

.hero2-explore {
  text-decoration: none;
  position: relative;
  border: 2px solid orangered;
  bottom: -175px;
  right: -256px;
  color: white;
  background-color: orangered;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 180px;
  height: 40px;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
}

.hero3-explore {
  text-decoration: none;
  position: relative;
  border: 2px solid orangered;
  bottom: -175px;
  right: -256px;
  color: white;
  background-color: orangered;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 180px;
  height: 40px;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
}

.hero4-explore {
  text-decoration: none;
  position: relative;
  border: 2px solid orangered;
  bottom: -175px;
  right: -256px;
  color: white;
  background-color: orangered;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 180px;
  height: 40px;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
}

.hero1-explore {
  text-decoration: none;
  position: relative;
  border: 2px solid orangered;
  bottom: -188px;
  left: 658px;
  color: white;
  background-color: orangered;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 180px;
  height: 40px;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
}

.hero1-explore:hover,
.hero2-explore:hover,
.hero3-explore:hover,
.hero4-explore:hover {
  background-color: white;
  color: orangered;
  text-decoration: none;
  border: 2px solid orangered;
}