*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  outline: 0;
}

/* Layout container helper */
.container{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  box-sizing: border-box;
}


